.card {
  display: inline-block;
  height: 160px;
  width: 120px;
  margin: 10px;
  position: relative;
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
  border: 1px solid black;
  &-flipped {
    transform: rotateY(180deg);
  }
  &-back {
    background-color: turquoise;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
  }
  &-front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}
